JWT_SECRET = ""

# Mongodb setup
MONGODB_URI = ""

# Santry dsn key
SANTRY_DSN = ""

# Cloudnary setup
CLOUDNARY_NAME = ""
CLOUDNARY_API_KEY = ""
CLOUDNARY_SCERET_KEY = ""

# Clerk setup
CLERK_WEBHOOK_SECRET = "" 
CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=